
@{
    ViewData["Title"] = "About Rob";
}

<h2>About Rob</h2>


<div class="starter-template">
    <div class="row">

        <div class="col-md-6">
            <img class="img-responsive" src="~/images/robbo.jpg" />
        </div>
        <div class="col-md-6">
            <p>
                Everything you ever wanted to know about Rob but were afraid to ask, can be summarized on the back of a postage stamp.
                He is an abstruse fellow of oblique dimensions and has a ruddy yet acquiescent appearance. He likes to emerse himself in C# code, and his favorite bedtime reading
                is an exciting MSDN page.
            </p>
            <p>
                Rob's favorite ice-cream flavor is blue.
            </p>
            <p>
                Rob is considered to be tall for his height.
            </p>
        </div>

    </div>
</div>